.moviesCount {
    line-height: 2;
    width: 300px;
    margin: 20px auto 20px 0;
}

.moviesCount span {
    background-color: #9A0BFF;
    font-size: 15px !important;
    color: #fff;
    display: inline;
    padding: 0.45rem;
    border-radius: 5px;

    /* Needs prefixing */
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
    color: black;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }

  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: transparent }
  }
.addBtn {
    margin-top: 10px;
    font-size: 15px !important;
    color: black !important;
    background-color: #fff !important;
    border: 1px solid black !important;
}

.addBtn:hover {
    color: #fff !important;
    background-color: #9A0BFF !important;
    border: 1px solid white !important;
}