.list-group-item {
  cursor: pointer;
  font-family: "Major Mono Display", monospace;
  transition: background-color 500ms linear, color 500ms linear,
    box-shadow 500ms linear;
  justify-content: flex-end;
  font-weight: 500 !important;
}

.list-group-item:hover {
  background-color: #9a0bff !important;
  color: white;
  box-shadow: 0 0.3rem 0.5rem 0 rgba(149, 112, 76, 0.4), -2rem 0 #9a0bff inset;
}

.list-group-item.active {
  background-color: #9a0bff !important;
  border-color: #9a0bff !important;
}
