body {
  margin: 0;
  padding: 0 0 0 0;
  font-family: 'Major Mono Display', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
    margin-bottom: 30px;
}

code {
    font-family: 'Major Mono Display', monospace;
}

.clickable {
    cursor: pointer;
}
